@import url(/view/styles/main-style.css);

.container {
    display: flex;
    /* Com height 100, vc consegue preencher 100% do espaço da tela. */
    height: 100vh;
}

.container-title {
    background-color: var(--primary-color);
    flex-basis: 40%;
}

.container-login {
    flex-basis: 60%;
}

.header>h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-regular);
    text-align: center;
    padding-top: 35%;
}

.header>h3 {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-regular);
    text-align: center;
    padding-top: 52px;
}

.copyright-container {
    margin-top: 250px;
    text-align: center;
}

.copyright-container>a {
    color: black;
}

/* =====================   LOGIN    =====================  */
.container-login>main>img {
    height: 200px;
}

.container-login {
    display: flex;
    padding-top: 120px;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    align-items: center;
}

.container-input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-input>input {
    background-color: var(--gray-color);
    border: none;
    width: 400px;
    height: 50px;
    border-radius: var(--border-radius);
}

.container-input>input:focus {
    border: 2px solid var(--input-focus);
    outline: none;
}

.container-input>a {
    color: var(--text-color);
}

.container-input>a:hover{
    color: var(--button-hover);
    transition: .3s;
}

.form-login>button {
    font-size: var(--font-size-subtitle);
    margin-top: 50px;
    background-color: var(--button-color);
    height: 50px;
    width: 230px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    color: #ffff;
}

.form-login>button:hover {
    transform: scale(1.05);
    transition: .3s;
    background-color: var(--button-hover);
}

input{
    text-indent: 10px;
}


/*  =====================  Estilos específicos para telas com largura máxima de 1024px  =====================  */
@media (min-width: 1024px) {

    .header>h2 {
        padding-top: 185px;
        font-size: 2rem;
    }

    .header>h3 {
        font-size: 1rem;
        padding-top: 80px;
    }
    
    .copyright-container{
        margin-top: 200px;
        font-size: 13px;
    }
    
    .container-login {
        padding-top: 80px;
    }

    .form-login {
        padding-top: 30px;
        align-items: center;
    }

    .form-login>button {
        height: 45px;
        width: 220px;
        padding: 10px 60px;
    }
}