<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">

        <div class="barra-lateral">
            <div class="nome">
                <p>KeepStock</p>
            </div>

            <div class="inicio">
                <img src="/clients/assets/inicio.svg" alt="icone página inicial">
                <p>Inicio</p>
            </div>

            <div class="produtos">
                <img src="/clients/assets/inicio.svg" alt="icone tela produtos">
                <p>Produtos</p>
            </div>

            <div class="estoque">
                <img src="/clients/assets/estoque.svg" alt="icone tela estoque">
                <p>Estoque</p>
            </div>

            <div class="conta">
                <img src="/clients/assets/conta.svg" alt="icone tela conta">
                <p>Conta</p>
            </div>

        </div>

        <div class="conteudo">
            <div class="header">

            </div>
        </div>

    </div>
</body>
</html>