<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/view/styles/login.css">
        <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
        <title>Entrar na sua conta</title>
    </head>

    <body>

        <section class="container">
            <div class="container-title">
                <header class="header">
                    <h2>Bem-vindo de volta!</h2>
                    <h3>Faça login e comece a celebrar conosco. 🎉</h3>
                </header>
                <footer>
                    <div class="copyright-container">
                        <a href="#"><strong>Termos de Uso | Compatibilidade com
                                Navegador e Tela</strong></a>
                        <p>
                            Copyright © 2022 remindme.com.br
                        </p>
                        <p>
                            O acesso a este site é para todos.
                        </p>
                    </div>
                </footer>
            </div>
            <div class="container-login">
                <main>
                    <img src="/assets/logo.svg" alt="logo">
                    <form class="form-login">
                        <div class="container-input">
                            <input type="text" placeholder="Email">
                            <input type="password" placeholder="Senha">
                            <!-- <a href="#">Esqueci minha senha.</a> -->
                            <a href="./view/pages/cadastro.html">Ainda não é cadastrado?</a>
                        </div>
                        <button type="submit">Entrar</button>
                    </form>
                </main>
            </div>
        </section>

    </body>

</html>